/* --------------------------------------------------------------------------*
 * Description:                                                              *
 *                                                                           *
 * File Created: Sunday, 15th December 2019 10:23 pm                         *
 * Author: yidafu(dov-yih) (me@yidafu.dev)                                   *
 *                                                                           *
 * Last Modified: Sunday, 15th December 2019 10:24 pm                        *
 * Modified By: yidafu(dov-yih) (me@yidafu.dev>)                             *
 *                                                                           *
 * Copyright 2019 - 2019 Mozilla Public License 2.0                          *
 *-------------------------------------------------------------------------- */
// https://stackoverflow.com/questions/29036231/how-can-i-have-a-position-fixed-behaviour-for-a-flexbox-sized-element
//  https://stackoverflow.com/questions/41409834/how-to-use-position-fixed-in-flex-layout/41410062#41410062
.loginBg {
  // position: fixed;
  // top: 0;
  // left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/images/login-background.jpg);
  background-position: center 0;
  background-size: 100% 100%;
}

.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .loginBox {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 900px;
    height: 500px;
    background-color: #fff;
    box-shadow: 16px 16px 20px 10px rgba($color: #000, $alpha: .1);
  }

  .loginLeft {
    width: 400px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .loginRight {
    width: 500px;
    height: 100%;
    text-align: center;

    form {
      margin-top: 80px;
    }

    h2 {
      font-size: 35px;
      color: #389e0d;
      margin: 0 auto;
    }

    input {
      width: 250px;
      height: 1em;
      margin: 25px auto;
      font-size: 16px;
      padding: 12px 10px;
      color: #333;
      border: solid #999 1px;
    }

    input:focus {
      outline: none;
    }

    input[type="submit"] {
      box-sizing: content-box;
      background-color: #389e0d;
      color: #fff;
    }

    .inputError {
      position: relative;
      top: -20px;
      color: red;
      display: block;
    }
  }

  .loginFooter {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 250px;
    font-size: 14px;

    :first-child {
      color: #505050;
    }

    :last-child {
      color: #73d13d;
    }
  }
}
