/* --------------------------------------------------------------------------*
 * Description:                                                              *
 *                                                                           *
 * File Created: Sunday, 15th December 2019 10:23 pm                         *
 * Author: yidafu(dov-yih) (me@yidafu.dev)                                   *
 *                                                                           *
 * Last Modified: Sunday, 15th December 2019 10:24 pm                        *
 * Modified By: yidafu(dov-yih) (me@yidafu.dev>)                             *
 *                                                                           *
 * Copyright 2019 - 2019 Mozilla Public License 2.0                          *
 *-------------------------------------------------------------------------- */

@import '../../assets/scss/variables.scss';

.acLoginBox {
  margin: 80px auto;
  padding: 0 50px;
  width: 400px;
  height: 380px;
  background-color: #fff;
  border-radius: 5px;

  // stylelint-disable
  @include card-box-shadow;
}

.acLoginGroup {
  margin-top: 30px;
}

.acLoginText {
  font-size: 12px;
  color: #546e7a;
}