**/build
**/bower_components
**/vendor
**/node_modules
**/dist
**/local_css
**/local_js
**/local
**/dev

*spec.ts
*.test.ts
*.test.tsx
serviceWorker.ts
tmp.html
packages/diff-dom-core/lib/CSSTree/types.ts
