@import '../../assets/scss/variables.scss';

.acCompCard {
  border-radius: 10px;
  background-color: #fff;

  // stylelint-disable
  @include card-box-shadow;
}

.acCompCardTitle {
  margin: 0;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #505050;
  background-color: #eaeaea;
	font-size: 18px;
  line-height: 30px;
	font-weight: bold;
}