@import '../../assets/scss/variables.scss';

.card {
  border-radius: 10px;
  background-color: #fff;

  // stylelint-disable
  @include card-box-shadow;
}

.cardTitle {
  margin: 0;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #505050;
  background-color: #eaeaea;
	font-size: 18px;
  line-height: 30px;
	font-weight: bold;
}


.cardPlain {
  padding: 20px 30px;
}

.cardTitlePlain {
  background-color: #fff;
  font-size: 23px;
  @include bottom-line;
}
