@import '../../../assets/scss/variables.scss';

.profileField {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
  height: 45px;

  // stylelint-disable
  @include bottom-line;
}

.profileFieldValue {
  width: 300px;
  text-align: left;
}