.contestStatusPending {
  padding: 2px 5px;
  color: #faad14;
  font-size: 12px;
  font-weight: bold;
}

.contestStatusRunning {
  padding: 2px 5px;
  color: #389e0d;
  font-size: 12px;
  font-weight: bold;
}

.contestStatusEnded {
  padding: 2px 5px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: bold;
}
