body {
  min-width: 1400px;
}

.cal-heatmap-container {
  margin: auto;
}

.ant-upload-picture-card-wrapper {
  width: auto;
}

.ant-table-wrapper,
.ant-table-thead > tr > th {
  background-color: #fff;
}
