@import "../assets/scss/variables.scss";

.acLayout {
  display: flex;
  flex-direction: column;
}

.acLayoutHeader {
  height: $header-height;
  // stylelint-disable-next-line
  @include default-box-shadow;
}

.acLayoutBody {
  min-height: 800px;
  background-color: #f9f9f9;

  > div {
    width: 1000px;
    margin: auto;
  }
}

.acLayoutFooter {
  height: 300px;
}
