@import "../assets/scss/variables.scss";

.acLayout {
  display: flex;
  flex-direction: column;
}

.acLayoutHeader {
  height: $header-height;
  // stylelint-disable-next-line
  @include default-box-shadow;
}

.acLayoutBody {
  min-height: 800px;
  background-color: #f9f9f9;

  > div {
    width: 1200px;
    margin: auto;
  }
}

.acLayoutFooter {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 12px;

  div {
     width: 800px;
     display: flex;
     justify-content: space-around;
   }
}
